<div class="veado-instance-box" id="{{veado-instance-id}}">
    <div class="veadotube-row">
        <span>Instance ID:</span>
        <span class="veadotube-instance-id">{{veado-instance-id}}</span>
        <div class="veado-space"></div>
        <span>Type:</span>
        <span class="veadotube-instance-type">{{veado-instance-type}}</span>
    </div>
    <hr>
    <div class="veado-row">
        Status:
        <span class="veadotube-connection-status">Disconnected</span>
        <button class="btn btn-primary btn-sm veado-btn refresh-status-btn">
            Manual Refresh Status
        </button>
    </div>
    <p></p>
    Websocket server:
    <span class="veadotube-instance-server">{{veado-instance-server}}</span>
    <p></p>
    Window title:
    <span class="veadotube-instance-name">{{veado-instance-name}}</span>
    <p></p>
    Version:
    <span class="veadotube-instance-version">{{veado-instance-version}}</span>
    <p></p>
    <div class="veado-row">
        <button class="btn btn-primary btn-sm veado-btn connect-websocket-btn">
            Connect WebSocket
        </button>
        <button class="btn btn-primary btn-sm veado-btn refresh-states-btn">
            Refresh Avatar States
        </button>
    </div>
    <!-- <p></p> -->
    <hr>
    <p>
        Extension Triggers
        <!-- <button class="btn btn-primary btn-sm veado-btn toggle-listener-btn">
            Start Listener
        </button> -->
    </p>
    <p class="veado-listener-box">
        Avatar State Change:
        <span class="veado-state-listener-id">{{veado-instance-state-listener}}</span>
        <button class="btn btn-primary btn-sm veado-btn copy-state-listener-btn">
            Copy
        </button>
        <p></p>
        Push-to-talk*:
        <span class="veado-ptt-listener-id">{{veado-instance-ptt-listener}}</span>
        <button class="btn btn-primary btn-sm veado-btn copy-ptt-listener-btn">
            Copy
        </button>
    </p>
    <hr>
    {{veado-box-type}}
</div>